Repository ibm-build-lab/VAD-VAR-Workshop, pull requests merged in 2024-04, with the labels that each got.

#374 watsonx.data L3 lab 106 query error
  content/Watsonx/WatsonxData/106.es.md
  content/Watsonx/WatsonxData/106.md
  content/Watsonx/WatsonxData/107.es.md
  content/Watsonx/WatsonxData/107.md
  content/Watsonx/WatsonxData/109.es.md
  content/Watsonx/WatsonxData/109.md
Labels: bug fix 🐛, .data

#378 gov L3 lab updates
  content/Watsonx/WatsonxGov/102.md
  content/Watsonx/WatsonxGov/103.md
  content/Watsonx/WatsonxGov/104.md
  content/Watsonx/WatsonxGov/106.md
  content/Watsonx/WatsonxGov/images/102/manage-inventories.png
  content/Watsonx/WatsonxGov/images/102/manage-settings.png
  content/Watsonx/WatsonxGov/images/102/new-inventory.png
  content/Watsonx/WatsonxGov/images/103/create-generative-project.png
  content/Watsonx/WatsonxGov/images/103/create-predictive-project.png
  content/Watsonx/WatsonxGov/images/103/create-project.png
  content/Watsonx/WatsonxGov/images/103/new-project.png
  content/Watsonx/WatsonxGov/images/104/open-in-ai-use-case.png
  content/Watsonx/WatsonxGov/images/104/track-this-model.png
  content/Watsonx/WatsonxGov/images/104/view-ai-factsheet.png
  content/Watsonx/WatsonxGov/images/106/activate-generative-evaluation.png
Labels: 🔥 Hot

#380 watsonx.gov L3: Update labs (Spanish Version)
  content/Watsonx/WatsonxGov/102.es.md
  content/Watsonx/WatsonxGov/103.es.md
  content/Watsonx/WatsonxGov/104.es.md
  content/Watsonx/WatsonxGov/106.es.md
Labels: watsonx.gov, Translation

#381 watsonx.gov L3+: Manage AI assets with versions
  content/Watsonx/WatsonxGov/107.md
  content/Watsonx/WatsonxGov/README.md
  content/Watsonx/WatsonxGov/images/107/flan-generate-output.png
  content/Watsonx/WatsonxGov/images/107/generative-lifecycle-visualization.png
  content/Watsonx/WatsonxGov/images/107/generative-project-select.png
  content/Watsonx/WatsonxGov/images/107/generative-track-in-ai-use-case.png
  content/Watsonx/WatsonxGov/images/107/llama-generate-output.png
  content/Watsonx/WatsonxGov/images/107/navigation-menu-projects.png
  content/Watsonx/WatsonxGov/images/107/new-approach.png
  content/Watsonx/WatsonxGov/images/107/save-prompt-template.png
  content/Watsonx/WatsonxGov/images/107/save-work.png
  content/Watsonx/WatsonxGov/images/107/select-generative-ai-use-case.png
  content/Watsonx/WatsonxGov/images/107/select-insurace-claim-summarization.png
  content/Watsonx/WatsonxGov/images/107/select-llama.png
  content/Watsonx/WatsonxGov/images/107/select-new-approach.png
  content/Watsonx/WatsonxGov/images/107/view-ai-factsheet.png
  content/Watsonx/WatsonxGov/images/107/view-all-foundation-models.png
  content/Watsonx/WatsonxGov/images/107/view-details.png
  content/Watsonx/WatsonxGov/images/107/view-full-prompt-text.png
Labels: .gov

#383 watsonx.governance L3+ Spanish Translations
  content/Watsonx/WatsonxGov/107.es.md
  content/Watsonx/WatsonxGov/README.es.md
  content/Watsonx/WatsonxGov/ref101.es.md
Labels: watsonx.gov, Translation
