Repository ibm-build-lab/VAD-VAR-Workshop, pull requests merged in 2024-07, with the labels that each got.

#382 refactor: enhancements and refinement for the jupyter-hub notebooks
  content/Watsonx/WatsonxAI/105/langchain-intro.ipynb
  content/Watsonx/WatsonxAI/105/langchain-summarization.ipynb
  content/Watsonx/WatsonxAI/105/what-is-generative-ai.pdf
  content/Watsonx/WatsonxAI/files/rag-with-discovery.ipynb
Labels: enhancement, watsonx.ai

#389 Maximo - Visual Inspection L3 lab Update
  content/Maximo/MVI-PREREQ.md
  content/Maximo/VISUAL-INSPECTION.md
  content/Maximo/VISUAL-INSPECTION2.md
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.001.png
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.003.png
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.004.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.005.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.005.png
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.006.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.006.png
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.007.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.007.png
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.008.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.009.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.010.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.011.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.012.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.013.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.014.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.015.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.016.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.017.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.018.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.021.png
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.023.jpeg
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.031.png
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.034.png
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.036.png
  content/Maximo/_attatchments/mvi.1a40bb6d-e87f-4b74-929f-11f16746fc40.044.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.0009.png
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.001.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.002.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.003.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.012.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.017.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.020.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.021.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.022.png
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.023.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.024.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.026.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.027.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.028.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.032.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.035.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.038.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.048.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.049.jpeg
  content/Maximo/_attatchments/mvi.3b2f35bd-3c7a-437d-a3d2-793494ca3b8c.050.jpeg
  content/Maximo/_attatchments/mvi.f2962fae-95d4-4d63-9e23-211e54c72214.007.png
  content/Maximo/_attatchments/mvi.f2962fae-95d4-4d63-9e23-211e54c72214.010.jpeg
  content/Maximo/_attatchments/mvi.f2962fae-95d4-4d63-9e23-211e54c72214.010.png
  content/Maximo/_attatchments/mvi.f2962fae-95d4-4d63-9e23-211e54c72214.011.jpeg
  content/Maximo/_attatchments/mvi.f2962fae-95d4-4d63-9e23-211e54c72214.011.png
  content/Maximo/_attatchments/mvi.f2962fae-95d4-4d63-9e23-211e54c72214.012.png
  content/Maximo/_attatchments/mvi.f2962fae-95d4-4d63-9e23-211e54c72214.013.jpeg
Labels: Maximo

#419 Translate SNO content to Spanish
  content/Maximo/EAMMASUpgrade/SNO-Installation.es.md
  content/Maximo/EAMMASUpgrade/SNO-Installation.md
Labels: Translation, Maximo
